# Ignore everything
*

# But do not ignore .R and .sh script files
!*.R
!*.sh
!*gitignore

# Include directories, to allow searching within them
!**/

# Do not ignore files in the example2 directory
!Cyclo_noncyclo_comparison/Examples/example2/
!Cyclo_noncyclo_comparison/Examples/example2/**