# Ignore everything
*

# But do not ignore .R and .sh script files
!*.R
!*.sh
!*.py
!*gitignore


# Include directories, to allow searching within them
!**/

# Do not ignore files in the example2 directory
!Cyclo_noncyclo_comparison/Examples/example2/
!Cyclo_noncyclo_comparison/Examples/example2/**
Cyclo_noncyclo_comparison/Examples/example2/Inputs/.Rhistory

# Do not ignore files in the markdown directory
!Cyclo_noncyclo_comparison/Markdown/
!Cyclo_noncyclo_comparison/Markdown/**

# Do not ignore readme file
!README.md
!README.rmd

# Do not ignore script files
!Cyclo_noncyclo_comparison/Scripts/
!Cyclo_noncyclo_comparison/Scripts/**

# Ignore checkpoint files
**/.ipynb_checkpoints/


